/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 10px;
    margin-bottom:8px;
    color: black;
}

h2{
    font-size: 18px;
}
.p1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 50px;
}
.p2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:10px;
    

}
.main-container {
    width: 100%;
    min-width: 1024px;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/* *********************HEADER **************************/
header {
    display: flex;
    justify-content: space-between;
  }

  .img-header img{
    width: 61.09px;
    height: 19px;
    margin-left: 10px;
    margin-top: 30px;
  }
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: start;
    margin-top:0;
    
}
nav li {
    margin-right: 50px;
    padding: 16px;
    margin-top:0px;
    text-decoration: none;
}

nav a :hover{
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    display: flex;
    align-items: start;
    margin-top: 0;
    
    
}
header a{
    text-decoration: none;
}


nav ul a:visited{
    
        color:black;
        text-decoration: none;

}
/*************** formulaire********* */

form {
    margin-left: 10px;
}
.fa-location-dot{
    color: black;
}

.recherche label {
    border: 1px var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    background:var(--main-bg-color);
    padding: 18px 15px 18px 16px;
    margin-top: 50px;
    margin-bottom: 50px; 
    
}

.recherche input {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:black;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right:none;
    border-left: none;
    padding-top: 16px;
    padding-bottom: 16px;
}
.recherche button {
    background: var(--main-color);
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    padding: 16px 14px 16px 14px;
}

::placeholder{
    color:black;
}
 /* **************Filtres***************/

 .filtres-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.boutons-filtres button {
    border: 2px solid #D9D9D9;
    border-radius: 35px;
    background-color:white;
    font-weight: 700;
    font-size: 17px;
    padding: 19px 15px 19px 15px;
}

.filtres-row button {
    margin-right: 15px;
    padding-left: 10px;
}
.boutons-filtres button:hover{
    background:  #DEEBFF;
    }

.spacing-p2{
    padding-left: 10px;
} 

.fa-info{
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding:7px 10px 7px 10px;

}
.txt-filtre {
    margin-right: 15px;
    font-weight: 700;
    font-size: 18px;
}
.fa-money-bill-wave{
    padding-right: 10px;
}
.fa-person{
    padding-right: 10px;
}
.fa-heart{
    padding-right: 10px;
}
.fa-fire{
    padding-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-left:10px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}
.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.hebergements-cards img {
    width: 95%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card{
    margin-top: 20px;
    width: 250.33px;
    margin-bottom: 30px;
}
.hebergements-cards .card-txt{
    margin-top:5px ;
    margin-left: 10px;
}   
.hebergements-cards .card-title{
    margin-top:5px ;
}


.afficher-plus .hebergement{
    padding-top: 30px;
}
.afficher-plus a{
    font-weight: 700;
    font-size: 18px;
    color:black;
    text-decoration: none;
    padding-top: 30px;
    
}
.afficher-plus a:visited{
    color:black;
    text-decoration: none;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 369px;
    height: 146px;
    
}

.populaires-cards img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* *************activité******************** */
.activités-a-marseille img{
    border-radius: 20px 20px 0px 0px;
    border: 0px;
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.activités-a-marseille{
    margin-left: 30px;
}
.activités-a-marseille .activités{
    width: 297.5px;
    height: 439px;
}
.activités{
    width: 297.5px;
    height: 59px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activités-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.section-title{
    margin-left: 20px;
    font-size: 22px;
}
.activités-cards .card-title{
    padding-left: 15px;
}
/* ***********footer***************** */
.titre-footer {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding-bottom: 15px;
}

.titre-footer a:visited{
    color:black;
    text-decoration: none;
}
footer ul{
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    margin-left: 20px;
}
footer li{
    text-decoration: none;
    display: flex;
    padding-bottom:15px ;
    
}

footer{
    margin-top: 50px;
    background-color: var(--main-bg-color);
    box-sizing: border-box;

}

footer , .liste-footer {
    display: flex;
    flex-direction: row;

}

/* ***************************EFFET cliquable***************************************** */
.cliquable .card {
    color:black;
    
}
.card-txt ,a{
    text-decoration: none;
}
.cliquable .activités{
    color: black;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .activités-a-marseille .activités{
        width: 200px;
   
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
